<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.base.mapper.system.RolePermissionMapper">
    <select id="selectPermissionIdByRoleId" resultType="java.lang.Integer">
        select permission_id
        from tb_sys_role_permission
        where role_id = #{roleId,jdbcType=INTEGER}
    </select>

    <select id="selectPermissionByRoles" resultType="com.admin.base.entity.system.Permissions">
        select p.*
        from tb_sys_role_permission as rp
                     join tb_sys_permissions as p where rp.permission_id = p.permission_id
                                                    and p.state = 1
                                                    and rp.role_id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        group by permission_id
    </select>
</mapper>
