<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.base.mapper.system.RoleMapper">
    <insert id="insertRole" useGeneratedKeys="true" keyProperty="roleId">
        insert into tb_sys_role(role_name, note,create_time,update_time)
        values (#{roleName,jdbcType=VARCHAR},#{note,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP})
    </insert>
</mapper>
